<a href="https://colab.research.google.com/github/Sreedeva/OOP-lab/blob/main/Sreedeva_20BCS128_OOP_Assignment_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from math import pi

class Circle:
  def __init__(self, Radius):
    self.Radius = Radius
  def Area(self):
    return (pi * (self.Radius ** 2))
  def Perimeter(self):
    return (2 * pi * self.Radius)

r = float(input("Radius : "))
c = Circle(r)
print("Area of Circle of Radius {0}  : {1:.3f}".format(r, c.Area()))
print("Area of Circle of Radius {0}  : {1:.3f}".format(r, c.Perimeter()))

Radius : 100
Area of Circle of Radius 100.0  : 31415.93
Area of Circle of Radius 100.0  : 628.32

In [ ]:
#problem 2

import pandas as pd

class Faculty:
  Name=[]
  Id=[]
  Branch=[]
  Salary=[]

  def setData(self,name,id,branch,salary):
    Faculty.Name.append(name)
    Faculty.Id.append(id)
    Faculty.Branch.append(branch)
    Faculty.Salary.append(salary)
  
  def showData():
    data_dict = {
      'Name' : Faculty.Name,
      'ID': Faculty.Id,
      'Branch' : Faculty.Branch,
      'Salary' : Faculty.Salary
    }
    df = pd.DataFrame(data_dict)
    return df


n = int(input("Number of Employees : "))
for i in range(n):
  name = input("\nEnter faculty name: ")
  id = int(input("Enter id :"))
  branch = input("Enter branch name: ")
  salary = int(input("Enter Salary :"))
  f = Faculty()
  f.setData(name.capitalize(),id,branch.upper(),salary)


Faculty.showData()

Number of Employees : 5

Enter faculty name: virat
Enter id :18
Enter branch name: ipl
Enter Salary :170000000

Enter faculty name: rohit
Enter id :45
Enter branch name: ipl
Enter Salary :150000000

Enter faculty name: bhuvaneshwar
Enter id :14
Enter branch name: ipl
Enter Salary :500000000

Enter faculty name: chahal
Enter id :3
Enter branch name: ipl
Enter Salary :86567865

Enter faculty name: abd
Enter id :17
Enter branch name: ipl
Enter Salary :170000000

           Name  ID Branch     Salary
0         Virat  18    IPL  170000000
1         Rohit  45    IPL  150000000
2  Bhuvaneshwar  14    IPL  500000000
3        Chahal   3    IPL   86567865
4           Abd  17    IPL  170000000

In [ ]:
##Problem 3

class Account:
  def __init__(self):
    self.AccountNo = input("Account Number : ")
    self.AccountHolder = input("Name : ")
    self.Amount = 100000.00

  def AccountDetails(self):
    print("\nAccount Details :")
    print("Account Number : ", self.AccountNo)
    print("Account Holder Name : ", self.AccountHolder)
    print("Account Balance : ", self.Amount)
  
  def Deposit(self):
    Amount1 = float(input("\nEnter Amount for Deposit : "))
    self.Amount += Amount1
    print("Account Balance : ", self.Amount)
  
  def Withdraw(self):
    Amount2 = float(input("\nEnter Amount to Withdraw : "))
    if Amount2 <= self.Amount:
      self.Amount -= Amount2
      print("Transaction Successful")
      print("Account Balance : ", self.Amount)
    else:
      print("Insufficient Account Balance")
      print("Transaction Failed")
  
  def chkBalance(self):
    print("\nAccount Balance : ", self.Amount)

acc = Account()


while True:
  print('\n1. Account Details\t2. Deposit Amount \n3.Withdraw Amount \t4.Check Balance in Account \n5. Exit system')
  ch = int(input('\nSelect method :'))
  if ch == 1:
    acc.AccountDetails()
  elif ch == 2:
    acc.Deposit() 
  elif ch == 3:
    acc.Withdraw()
  elif ch == 4:
    acc.chkBalance()
  elif ch == 5:
    print('\n\nThank you for using this system!\n\n')
    break
  else:
    print("\n\nWrong Choice!! Try Again!!")

Account Number : BANK987654345678F
Name : Sreedeva

1. Account Details	2. Deposit Amount
3.Withdraw Amount 	4.Check Balance in Account
5. Exit system

Select method :1

Account Details :
Account Number :  BANK987654345678F
Account Holder Name :  Sreedeva
Account Balance :  100000.0

1. Account Details	2. Deposit Amount
3.Withdraw Amount 	4.Check Balance in Account
5. Exit system

Select method :2

Enter Amount for Deposit : 10000
Account Balance :  110000.0

1. Account Details	2. Deposit Amount
3.Withdraw Amount 	4.Check Balance in Account
5. Exit system

Select method :3

Enter Amount to Withdraw : 20500
Transaction Successful
Account Balance :  89500.0

1. Account Details	2. Deposit Amount
3.Withdraw Amount 	4.Check Balance in Account
5. Exit system

Select method :4

Account Balance :  89500.0

1. Account Details	2. Deposit Amount
3.Withdraw Amount 	4.Check Balance in Account
5. Exit system

Select method :5


Thank you for using this system!

In [ ]:
##Problem 4

class Student:

  def __init__(self, Name, USN):
    self.Name = Name
    self.USN = USN
    self.Marks = []

  def setData(self):
    N = int(input("Enter number of Subjects : "))
    for i in range(N):
      self.Marks.append(int(input(f"Enter Marks of subject{i+1} : ")))
  
  def showData(self):
    print("\nStudent Name : ", self.Name)
    print("USN : ", self.USN)
    for i in range(len(self.Marks)):
      print(f"Marks in Subject {i+1} : {self.Marks[i]}")

Name = input("Student Name : ")
USN = input("USN : ")
s = Student(Name, USN)
s.setData()
s.showData()

Student Name : Sreedeva
USN : 20bcs128
Enter number of Subjects : 3
Enter Marks of subject1 : 80
Enter Marks of subject2 : 90
Enter Marks of subject3 : 90

Student Name :  Sreedeva
USN :  20bcs128
Marks in Subject 1 : 80
Marks in Subject 2 : 90
Marks in Subject 3 : 90

In [5]:
##Problem 5

class Hospital:
  def __init__(self):
    self.Patients = {}
    self.Test = 0

  def enterDetails(self):
    N = int(input("Number of Patients : "))
    for i in range(N):
      self.Test += 1
      Name = input("Patients Name : ")
      DateofAdmission = input("Date of Admission : ")
      Symptoms = []
      ns = int(input("Number of Symptoms : "))
      for i in range(ns):
        Symptoms.append(input("Symptom : "))
      Oxylvl = int(input("Oxygen Level : "))
      self.Patients[Name] = {}
      self.Patients[Name]["Date of Admission"] = DateofAdmission
      self.Patients[Name]["Symptoms"] = Symptoms
      self.Patients[Name]["Oxygen Level"] = Oxylvl

  def status(self):
    for Name in self.Patients:
      if self.Patients[Name]["Oxygen Level"] < 90:
        self.Patients[Name]["Status"] = "Severe"
        print("{0} is on Oxygen Support".format(Name))
      else:
      #assuming date of discharge will be known after oxygen state is normal
        self.Patients[Name]["Status"] = "Normal"
        DateofDischarge = input("Date of Discharge : ")
        self.Patients[Name]["Date of Discharge"] = DateofDischarge
        print("{0} is on General Observation Ward".format(Name))

  def requirement(self):
    No = Nw = 0
    for Name in self.Patients:
      if self.Patients[Name]["Oxygen Level"] < 90:
        No += 1
      else:
        Nw += 1
    print("{0} Patients require Oxygen Support".format(No))
    print("{0} Patients are in General Ward".format(Nw))
    print("Total Patients : {0}".format(self.Test))
  
hos = Hospital()
hos.enterDetails()
hos.status()
hos.requirement()

Number of Patients : 1
Patients Name : sdfgh
Date of Admission : 23345
Number of Symptoms : 1
Symptom : rfgy
Oxygen Level : 92
Date of Discharge : 2324354
sdfgh is on General Observation Ward
0 Patients require Oxygen Support
1 Patients are in General Ward
Total Patients : 1

In [ ]:
##Problem 6
from pytz import timezone as tz
import datetime

class Time:
  def __init__(self):
    self.hours = 0
    self.minutes = 0
    self.seconds = 0
  
  def setData(self):
    self.hours = int(datetime.datetime.now(tz("Asia/Kolkata")).hour)
    self.minutes = int(datetime.datetime.now(tz("Asia/Kolkata")).minute)
    self.seconds = int(datetime.datetime.now(tz("Asia/Kolkata")).second)
  
  def show(self):
    self.setData()
    print("Time in (hh:mm:ss) format : {0}:{1}:{2}".format(self.hours, self.minutes, self.seconds))

t = Time()
t.show()

Time in (hh:mm:ss) format : 22:43:26

In [ ]:
#problem 7

class Student:
  def __init__(self,name,age,rollno):
    self.name = name
    self.age = age
    self.rollno = rollno
  

s1 = Student("Rahul",21,33)
s2 = Student("Rohit",22,74)
def compare():
  if s1.age == s2.age:
    print("Both age are equal")
  else:
    print("Both age are not equal")

compare()

Both age are not equal

In [7]:
##Problem 8

class Student:
  Inst = "IIIT Dharwad"
  Sem = 3
  
  def __init__(self, Name, USN):
    self.Name = Name
    self.USN = USN
  
  def display1(self):
    print("Student Name : ", self.Name)
    print("Student USN : ", self.USN)

  @classmethod
  def display2(cls):
    print("Student Semester : ", cls.Sem)
    print("Student Institute : ", cls.Inst)
  
  @staticmethod
  def Exp():
    print("""
Class :-
    A class is a user-defined blueprint or prototype from which objects are created.
    Classes provide a means of bundling data and functionality together.

This is Student class to store Student Details.""")

s = Student("Sreedeva", "2092")
s.display1()
Student.display2()
s.Exp()

Student Name :  Sreedeva
Student USN :  2092
Student Semester :  0
Student Institute :  IIIT Dharwad

Class :-
    A class is a user-defined blueprint or prototype from which objects are created.
    Classes provide a means of bundling data and functionality together.

This is Student class to store Student Details.

In [ ]:
##Problem 9

class Student:
  def __init__(self):
    self.Name = input("Student Name : ")
    self.RollNo = input("Student RollNo : ")
    self.Sem = int(input("Semester : "))

  def Show(self):
    print("Student Details")
    print("Student Name : ", self.Name)
    print("Student RollNo : ", self.RollNo)
    print("Semester : ", self.Sem)

  class Laptop:
    def __init__(self, CPU, RAM, SSD,display):
      self.CPU = CPU
      self.RAM = RAM
      self.SSD = SSD
      self.display = display
    
    def Show(self):
      print("\nCPU : ", self.CPU)
      print("RAM : ", self.RAM)
      print("HDD : ", self.SSD)
      print("Display : ", self.display)

    
  l1 = Laptop("Intel", "8 GB", "512 GB", "LED")
  l2 = Laptop("Ryzen", "16 GB", "1 TB", "LED")
  l1.Show()
  l2.Show()

s = Student()
s.Show()

CPU :  Intel
RAM :  8 GB
HDD :  512 GB
Display :  LED

CPU :  Ryzen
RAM :  16 GB
HDD :  1 TB
Display :  LED
Student Name : Sreedeva
Student RollNo : 20BCS128
Semester : 3
Student Details
Student Name :  Sreedeva
Student RollNo :  20BCS128
Semester :  3